<style>
.panel {
	font-size: 80%;
}	
.panel-body-dashboard {
	padding: 2px;
}
.table-dashboard {
	margin: 1px;
}
.popover{
	max-width: 800px;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 2px;
}
.panel-heading {
	padding: 5px;
}
</style>
<div class='row'>
  <div class='col-sm-5'>
    <div class='panel panel-default' id='experiments-started-panel'>
      <div class="panel-heading">
	<h5><center>Experiment Activity</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard"
	       id='experiments-started-table'>
	  <thead>
	    <tr>
	      <td></td>
	      <% _.each(dashboard.started, function(value, key) { %>
		<th><%- key %></th>
	      <% }); %>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Started</td>
	      <% _.each(dashboard.started, function(value, key) { %>
		<td><%- value %></td>
	      <% }); %>
	    </tr>
	    <tr>
	      <td>Errors</td>
	      <% _.each(dashboard.errors, function(value, key) { %>
		<td><%- value %></td>
	      <% }); %>
	    </tr>
	    <tr>
	      <td class="text-right">Mapping</td>
	      <% _.each(dashboard.breakdown.mapping, function(value, key) { %>
		<td><%- value %></td>
	      <% }); %>
	    </tr>
	    <tr>
	      <td class="text-right">Timed Out</td>
	      <% _.each(dashboard.breakdown.timedout, function(value, key) { %>
		<td><%- value %></td>
	      <% }); %>
	    </tr>
	    <tr>
	      <td class="text-right">Other</td>
	      <% _.each(dashboard.breakdown.other, function(value, key) { %>
		<td><%- value %></td>
	      <% }); %>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
  <div class='col-sm-7'>
    <div class='panel panel-default' id='cluster-status-panel'>
      <div class="panel-heading">
	<a href="aggregate-status.php" target="_blank">
	  <span style="margin-right: 10px;"
		class='glyphicon glyphicon-new-window pull-right'></span></a>	
	<h5><center>Cluster Status</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard"
	       id='cluster-status-table'>
	  <thead>
	    <tr>
	      <th>Cluster</th>
	      <th>% Full</th>
	      <th>Inuse</th>
	      <th>Total</th>
	    </tr>
	  </thead>
	  <tbody id="cluster-status-tbody"></tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>
    <div class='panel panel-default' id='experiments-latest-panel'>
      <div class="panel-heading">
	<a href="experiments.php?sortby=created" target="_blank">
	  <span style="margin-right: 10px;"
		class='glyphicon glyphicon-new-window pull-right'></span></a>	
	<h5><center>Latest Experiments</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard"
	       id='experiments-latest-table'>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Creator</th>
	      <th>Profile</th>
	      <th>Cluster</th>
	      <th>PCs</th>
	      <th>Created</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(dashboard.latest, function(value, key) { %>
	      <tr>
		<td><a href="status.php?uuid=<%- value.uuid %>">
		  <%- value.name %></a></td>
		<td><a href="user-dashboard.php?user=<%- value.creator %>">
		  <%- value.creator %></a></td>
		<td><a href="show-profile.php?uuid=<%- value.profile_uuid %>">
		  <%- value.profile_name %></a></td>
		<td><%- value.cluster %></td>
		<td><%- value.physnode_count %></td>
		<td class="format-date"><%- value.started %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4'>
    <div class='panel panel-default' id='experiments-users-panel'>
      <div class="panel-heading">
	<a href="ranking.php#users" target="_blank">
	  <span style="margin-right: 10px;"
		class='glyphicon glyphicon-new-window pull-right'></span></a>	
	<h5><center>Heaviest Users (Current)</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard"
	       id='experiments-latest-table'>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Nodes</th>
	      <th>Expts</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(dashboard.heaviest_users, function(value, key) { %>
	      <tr>
		<td><a href="user-dashboard.php?user=<%- key %>"><%- key %></a></td>
		<td><%- value.physnode_count %></td>
		<td><%- value.experiment_count %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='panel panel-default' id='experiments-projects-panel'>
      <div class="panel-heading">
	<a href="ranking.php#projects" target="_blank">
	  <span style="margin-right: 10px;"
		class='glyphicon glyphicon-new-window pull-right'></span></a>	
	<h5><center>Heaviest Projects (Current)</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard"
	       id='experiments-latest-table'>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Nodes</th>
	      <th>Expts</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(dashboard.heaviest_projects, function(value, key) { %>
	      <tr>
		<td><a href="show-project.php?pid=<%- key %>"><%- key %></a></td>
		<td><%- value.physnode_count %></td>
		<td><%- value.experiment_count %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='panel panel-default' id='profiles-panel'>
      <div class="panel-heading">
	<a href="ranking.php#profiles" target="_blank">
	  <span style="margin-right: 10px;"
		class='glyphicon glyphicon-new-window pull-right'></span></a>	
	<h5><center>Popular Profiles (Epoch)</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Count</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(dashboard.heaviest_profiles, function(value, key) { %>
	      <tr>
		<td><a href="show-profile.php?uuid=<%- value.uuid %>">
		  <%- value.name %></a></td>
		<td><%- value.count %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>
    <div class='panel panel-default' id='extension-requests-panel'>
      <div class="panel-heading">
	<a href="experiments.php#extending" target="_blank">
	  <span style="margin-right: 10px;"
		class='glyphicon glyphicon-new-window pull-right'></span></a>	
	<h5><center>Outstanding Extension Requests</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Creator</th>
	      <th>Project</th>
	      <th>Created</th>
	      <th>Expires</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(dashboard.extension_requests, function(value, key) { %>
	      <tr>
		<td><a href="status.php?uuid=<%- value.uuid %>">
		  <%- value.name %></a></td>
		<td><a href="user-dashboard.php?user=<%- value.creator %>">
		  <%- value.creator %></a></td>
		<td><a href="show-project.php?pid=<%- value.pid %>">
		  <%- value.pid %></a></td>
		<td class="format-date-withday"><%- value.started %></td>
		<td class="format-date-withday"><%- value.expires %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>
    <div class='panel panel-default' id='error-details-panel'>
      <div class="panel-heading">
	<a href="instance-errors.php" target="_blank">
	  <span style="margin-right: 10px;"
		class='glyphicon glyphicon-new-window pull-right'></span></a>	
	<h5><center>Recent Errors (Details)</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Creator</th>
	      <th>When</th>
	      <th>Profile</th>
	      <th>Cluster</th>
	      <th>Reason (Code)</th>
	      <th>Log</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(dashboard.error_details, function(value, key) { %>
	      <tr>
		<% if (value.active) { %>
		  <td><a href="status.php?uuid=<%- value.uuid %>">
		    <%- value.name %></a></td>
		<% }else { %>
		<td><%- value.name %></td>
	    <% } %>
	    <td><a href="user-dashboard.php?user=<%- value.creator %>">
	      <%- value.creator %></a></td>
	    <td class="format-date"><%- value.started %></td>
	    <td><a href="show-profile.php?uuid=<%- value.profile_uuid %>">
	      <%- value.profile_name %></a></td>
	    <td><%- value.cluster %></td>
	    <% if (value.message && value.message != "") { %>
	      <td><span style="text-decoration: underline;"
			data-toggle='popover'
			data-delay='{"hide":100, "show":500}'
			data-html='true'
			    data-uuid="<%- value.uuid %>"
			    data-content=""><%- value.reason %></span></td>
		<% } else { %>
		  <td><%- value.reason %></td>
		<% }%>
		<% if (value.url) { %>
		  <td><a href="<%- value.url%>">Log</a></td>
		<% }else { %>
		<td>N/A</td>
		<% } %>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>
    <div class='panel panel-default' id='experiments-lockdown-panel'>
      <div class="panel-heading">
	<h5><center>Locked Down Experiments</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard"
	       id='experiments-lockdown-table'>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Creator</th>
	      <th>Profile</th>
	      <th>Cluster</th>
	      <th>PCs</th>
	      <th>Created</th>
	      <th>Expires</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(dashboard.lockdown, function(value, key) { %>
	      <tr>
		<td><a href="status.php?uuid=<%- value.uuid %>">
		  <%- value.name %></a></td>
		<% if (!isadmin) { %>
		  <td><%- value.creator %></td>
		<% } %>
		<% if (isadmin) { %>
		  <td><a href="user-dashboard.php?user=<%- value.creator %>"><%- value.creator %></a></td>
   		<% } %>
		<td><a href="show-profile.php?uuid=<%- value.profile_uuid %>">
		  <%- value.profile_name %></a></td>
		<td><%- value.cluster %></td>
		<td><%- value.physnode_count %></td>
		<td class="format-date-month"><%- value.started %></td>
		<td class="format-date-relative"><%- value.expires %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-xs-4">
    Last updated: <span class="format-date-last-refresh" id="last-refresh"></span>
  </div>
</div>
