<div>
  <div class="form-group sidebyside-form">
    <div class="format-me" data-key="startorjoin"
	 style='padding-left: 15px; margin-bottom: 7px;'>
      <label class="radio-inline" style='margin-right: 10px;'>
	<input type="radio" id="startorjoin"
	       name="formfields[startorjoin]"
	       value="join"
	       <% if (formfields.startorjoin == "join") { %>checked<% } %> >
	Join Existing Project</label>
      <label class="radio-inline" style='margin-left: 0px;'>
	<input type="radio" id="startorjoin"
	       name="formfields[startorjoin]"
	       value="start"
	       <% if (formfields.startorjoin == "start") { %>checked<% } %> >
	Start New Project</label>
    </div>
  </div>
  <div class="form-group sidebyside-form" >
    <input name="formfields[pid]" value="<%- formfields.pid %>"
	   id="form_join_pid"
	   class="form-control format-me" data-key="pid"
	   placeholder="Project Name" type="text">
  </div>
  <div id="start_project_rollup"
       <% if (formfields.startorjoin == "join") { %>class=hidden<% } %> >
    <div class="form-group sidebyside-form" >
      <input name="formfields[proj_title]"
	     value="<%- formfields.proj_title %>"
	     class="form-control format-me" data-key="proj_title"
	     placeholder="Project Title (short sentence)" type="text">
    </div>
    <div class="form-group sidebyside-form" >
      <input name="formfields[proj_url]" value="<%- formfields.proj_url %>"
	     class="form-control format-me" data-key="proj_url"
	     placeholder="Project Page URL" type="text">
    </div>
    <% tbname="Emulab";
       if (window.ISCLOUD) { tbname="CloudLab"; } 
       else if (window.ISPNET) { tbname="PhantomNet"; }
       else if (window.ISPOWDER) { tbname="Powder"; } %>
    <div class="form-group sidebyside-form" >
      <textarea name="formfields[proj_why]" rows="8"
		class="form-control format-me" data-key="proj_why"
		placeholder="Project Description (details): <%= tbname %> staff members review this description. The more details you provide, the faster they can approve your project."
		type="textarea"><%- formfields.proj_why %></textarea>
    </div>
    <% if (_.size(licenses)) { %>
      <div class="form-group sidebyside-form"
	   style="margin-bottom: 5px;">
	<div class="well well-sm" style="padding: 5px; margin-bottom: 0px;">
	  Please check the licenses you need. Note that you can add these later, so please do not check them unless you are sure you need them now.</div>      </div>
      <% _.each(licenses, function(license, name) { %>
	<%
          var value = "no"; 
          if (_.has(formfields, "license_" + name)) {
              value = formfields["license_" + name];
          }
	%>
	<div class="form-group sidebyside-form"
	     style="margin-bottom: 5px;">
	  <div class="format-me" data-key="<%- name %>"
	       style='padding-left: 15px; margin-bottom: 0px;'>
	    <label class="checkbox-inline"
		   style='margin-right: 10px;'>
	      <input type="checkbox" id="<%- name %>"
		     name="formfields[license_<%- name %>]"
		     value="yes"
		     <% if (value == "yes") { %>checked<% } %> >
	      <%- license.form_text %>
	      <% if (license.description_text &&
		license.description_text != "") {
		var description_html = license.description_text;
 		if (license.description_type == "md") {
		  description_html = marked(description_html);
		}
		else if (license.description_type == "text") {
		  description_html = "<pre>" +
		  license.description_text + "</pre>";
		} %>
	        <a href='#' class='btn btn-xs'
		   data-toggle='popover'
		   data-html='true'
		   data-delay='{"hide":500}'
		   data-content="<%- description_html %>">
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px;'></span>
		</a>
             <% } %>
  	    </label>
	  </div>
	</div>
      <% }); %>
    <% } %>
  </div>
</div>
